:root {
    --primary-color: #3d3de0;
    --secondary-color: #b5b5e8;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #1a1a21;
    color: #FFF;
}

.home .top {
    margin-top: 3rem;
}

.home .top img {
    width: 12rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home .top .title {
    margin: 1rem;
    text-align: center;
}

.options {
    margin-top: 3rem;
}

.home .options .btn {
    color: #000;
    background-color: var(--secondary-color);
    margin-bottom: 1.25rem;
    font-weight: 600;
    border-radius: 20px;
    border-color: var(--secondary-color);
}

.home .options .btn:hover {
    color: #FFF;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    transition: 0.2s;
}

.home .row{
    margin: 0;
    padding: 0;
}