:root {
    --primary-color: #5eead4;
    --secondary-color: #122b39;
    --title-text-color: #dde3eb;
    --text-color: #617288;
    --background-color: #0f172a;
    --botao-slider-espaco: 0px;
    --text-selection-color: #5eead4;
}

::selection {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
}

body,
html {
    height: 100%;
    font-family: 'Quicksand', Arial, sans-serif;
    background-color: var(--background-color);
    color: #bcbac3;
}

h1,
h2,
h3 {
    color: var(--title-text-color);
}

h1 {
    font-size: 32px;
    font-weight: bold;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 18px;
}


.container {
    position: relative;
}

.slider-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slider {
    display: flex;
    width: 400%;
    height: 100%;
    transition: transform 0.5s;
}

.slide {
    flex: 0 0 25%;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-button {
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    height: 120px;
}

.slider-button i {
    background-color: transparent;
    font-size: 60px;
}

.slider-button:hover {
    color: var(--title-text-color);
}

.slider .slide iframe {
    width: 100%;
    height: 100%;
}

#prevButton {
    left: var(--botao-slider-espaco);
}

#nextButton {
    right: var(--botao-slider-espaco);
}

.title {
    text-align: right;
    padding-right: 15px;
}

.navbar {
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.button-flat {
    font-weight: bold;
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

.button-flat,
.button-flat i {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    transition: color 0.3s, background-color 0.3s;
}

.button-flat:hover,
.button-flat:hover i {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    transition: color 0.1s, background-color 0.1s;
}