@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

:root {
    --primary-color: #3d3de0;
    --secondary-color: #b5b5e8;
}

/* Estilos para o botão personalizado */
.custom-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

.custom-button img {
    width: 50px;
    height: auto;
}

/* Outros estilos de slider e botões (mantidos do exemplo anterior) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #3d3de0;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden;
    color: #3d3de0;
}

.container {
    position: relative;
}

.slider-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slider {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.5s;
}

.slide {
    flex: 0 0 33.33%;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

/* Posicionando os botões de navegação */
.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Posicionando o botão "Anterior" à esquerda */
#prevButton {
    left: 10px;
}

/* Posicionando o botão "Próximo" à direita */
#nextButton {
    right: 10px;
}

.slider-button:hover {
    background: rgba(0, 0, 0, 0.7);
}
