:root {
    --primary-color: #695dd8;
    --secondary-color: #4c42a7;
    --title-text-color: #f2f1f3;
    --text-color: #bcbac3;
    --background-color: #181626;
    --botao-slider-espaco: 0px;
    --botao-slider-padding: 40px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
}

body, html {
    height: 100%;
    font-family: 'Quicksand', Arial, sans-serif;
    background-color: var(--background-color);
    color: #bcbac3;
}

h1, h2, h3 {
    color: var(--title-text-color);
}

h1 {
    font-size: 32px;
    font-weight: bold;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 18px;
}


.container {
    position: relative;
}

.slider-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slider {
    display: flex;
    width: 400%;
    height: 100%;
    transition: transform 0.5s;
}

.slide {
    flex: 0 0 25%;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#prevButton {
    left: var(--botao-slider-espaco);
    padding: var(--botao-slider-padding);
    height: 100%;
}

#nextButton {
    right: var(--botao-slider-espaco);
    padding: var(--botao-slider-padding);
    height: 100%;
}

.slider-button:hover {
    background: rgba(0, 0, 0, 0.5);
}

.title {
    text-align: right;
    padding-right: 15px;
}

.navbar {
    justify-content: space-between;
}
