:root {
    --navbar-border-radius: 20px;
}

header .navbar {
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background-color: rgba(2, 1, 17, 0.5);
}

header .navbar a {
    color: var(--text-color);
}

header .navbar-nav {
    border-radius: 20px;
    border: 1.5px solid var(--text-color);
}

header .navbar-nav .nav-link {
    transition: all 0.3s ease;
}

header .navbar .btn-nav {
    color: var(--text-color);
    border: 2px solid var(--text-color);
    background-color: transparent;
}

header .navbar .btn-nav:hover {
    color: var(--background-color);
    border: 2px solid var(--text-color);
    background-color: var(--title-text-color);
}

header .navbar-nav .nav-link {
    font-weight: 600;
}

header .nav-item a:hover,
header .navbar-nav .nav-link.active {
    color: var(--background-color);
}

header .nav-item a:hover {
    background-color: rgba(254, 253, 255, 0.7);
}

header .navbar-nav .nav-link.active {
    background-color: var(--title-text-color);
}

header .nav-item .first-item {
    border-radius: var(--navbar-border-radius) var(--navbar-border-radius) 0 0;
}

header .nav-item .last-item {
    border-radius: 0 0 var(--navbar-border-radius) var(--navbar-border-radius);
}

@media (min-width: 768px) {
    header .nav-item .first-item {
        border-radius: var(--navbar-border-radius) 0 0 var(--navbar-border-radius);
    }

    header .nav-item .last-item {

        border-radius: 0 var(--navbar-border-radius) var(--navbar-border-radius) 0;
    }
}

header .navbar .navbar-brand:hover {
    color: var(--primary-color);
}

header .nav-icon {
    font-size: 20px;
}