.navbar-projects .nav-link {
    color: var(--title-text-color);
}

.navbar-projects .nav-link:hover {
    color: var(--primary-color);
}

.navbar-projects ul li {
    position: relative;
    padding-left: 20px;
}

.navbar-projects ul li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: #ccc;
}