:root {
    --navbar-border-radius: 20px;
}

.navbar {
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background-color: rgba(2, 1, 17, 0.5);
}

.navbar a {
    color: var(--text-color);
}

.navbar-nav {
    border-radius: 20px;
    border: 1.5px solid var(--text-color);
}

.navbar-nav .nav-link {
    transition: all 0.3s ease;
}

.navbar .btn-nav {
    color: var(--text-color);
    border: 2px solid var(--text-color);
    background-color: transparent;
}

.navbar .btn-nav:hover {
    color: var(--background-color);
    border: 2px solid var(--text-color);
    background-color: var(--title-text-color);
}

.nav-item a:hover,
.navbar-nav .nav-link.active {
    font-weight: 600;
    background-color: var(--title-text-color);
    color: var(--background-color);
}

.nav-item .first-item {
    border-radius: var(--navbar-border-radius) var(--navbar-border-radius) 0 0;
}

.nav-item .last-item {
    border-radius: 0 0 var(--navbar-border-radius) var(--navbar-border-radius);
}

@media (min-width: 768px) {
    .nav-item .first-item {
        border-radius: var(--navbar-border-radius) 0 0 var(--navbar-border-radius);
    }

    .nav-item .last-item {

        border-radius: 0 var(--navbar-border-radius) var(--navbar-border-radius) 0;
    }
}

.navbar .navbar-brand:hover {
    color: var(--primary-color);
}

.nav-icon{
    font-size: 20px;
}